html {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.star::after,
.star::before {
    content: '';
    border: 3px solid white;
}
/* HEADER  */
header {
    height: 60px;
}

header,
.copyright {
    background-color: #465F7A;
    color: var(--bs-white);
}

header .header-content,
header .container .row {
    height: 100%;
    align-items: center;
}

.logo {
    font-size: 1em;
    font-weight: bold;
}

.menu-item {
    display: none;
}

.menu-item a {
    text-decoration: none;
    color: white;
    font-size: 0.8em;
}

.menu-item a:hover {
    color: #44C4A6;
}
/* MAIN  */
main {
    height: calc(100% - 60px);
    overflow: auto;
}

/* JUMBOTRON  */
.jumbotron,
.about {
    background-color: #44C4A6;
    color: var(--bs-white);
}

.jumbotron .col {
    margin: 7em auto 4em;
}

.avatar img {
   width: 50%;
}

.jumbotron p {
   font-size: 0.9em;
}

/* PORTFOLIO  */
.portfolio img {
    width: 100%;
    border-radius: 10px;
}

/* ABOUT  */
.about p {
    font-size: 1.1em;
    text-transform: none;
}

.form-control {
    border: none;
    border-bottom: 1px solid lightgrey;
}

.input {
    text-transform: none;
}

.input:focus .form-label,
.input:active .form-label,
.input:hover .form-label,
.input:visited .form-label,
.input:link .form-label { 
    font-size: 0.8em;
}

.contact button {
    color: white;
    background-color: #44C4A6;
}
/* FOOTER  */
footer {
    background-color: #35475B;
    color: white;
}

@media screen and (min-width: 768px) {
    .hamburger-menu {
        display: none;
    } 
    .menu-item {
        display: block;
    }
}

