html {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.line {
    display: inline-block;
    height: 2px;
    width: 20%;
    background-color: white;
}

.star {
    vertical-align: bottom;
}
/* HEADER  */
header {
    height: 60px;
}

header,
.copyright {
    background-color: #465F7A;
    color: var(--bs-white);
}

header .header-content,
header .container .row {
    height: 100%;
    align-items: center;
}

.logo {
    font-size: 1em;
    font-weight: bold;
}

.menu-item a {
    text-decoration: none;
    color: white;
    font-size: 0.8em;
}

.menu-item a:hover {
    color: #44C4A6;
}

.hamburger-menu i {
    border: 1px solid white;
}

.hamburger-menu i:hover {
    background-color: white;
    color: #465F7A;
}
/* MAIN  */
main {
    height: calc(100% - 60px);
    overflow: auto;
}

/* JUMBOTRON  */
.jumbotron,
.about {
    background-color: #44C4A6;
    color: var(--bs-white);
}

.jumbotron .col {
    margin: 7em auto 4em;
}

.avatar img {
   width: 50%;
}

.jumbotron p {
   font-size: 0.9em;
}

/* PORTFOLIO  */
.portfolio img {
    width: 100%;
    border-radius: 10px;
}

.portfolio .line,
.contact .line {
    background-color: black;
}
/* ABOUT  */
.about p {
    font-size: 1.1em;
    text-transform: none;
}

.form-control {
    border: none;
    border-bottom: 1px solid lightgrey;
}

.input {
    text-transform: none;
}

.input:focus .form-label,
.input:active .form-label,
.input:hover .form-label,
.input:visited .form-label,
.input:link .form-label { 
    font-size: 0.8em;
}

.contact button {
    color: white;
    background-color: #44C4A6;
}

.contact button:hover {
    color: white;
    background-color: #465F7A;
}
/* FOOTER  */
footer {
    background-color: #35475B;
    color: white;
    text-transform: none;
}

footer span i {
    font-size: 2em;
}

footer span i:hover {
    color: #44C4A6;

}


footer a {
    color: #44C4A6;
    text-decoration: none;
}

footer a:hover {
    color: crimson;
}

.copyright p {
    font-size: 0.6em;
}

@media screen and (max-width: 576px) {
    .logo {
        font-size: 1em;
    }
    
}